body
{
	background-color: #E8CCD7;
}

#loginForm {
    display: flex;
    position: relative;
    top: 30%;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}


#loginForm .form-block {
    height: 300px;
    background-color: #ADD8E6;
    width: 300px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#loginForm .form-block input {
    border: none;
    border-bottom: solid 0.8px grey;
    height: 25px;
    border-radius: 2px;
	transition: ease-in-out all 0.2s;
	-moz-transition: ease-in-out all .2s;
    -webkit-transition: ease-in-out all .2s;
}

#loginForm .form-block input:focus
{
	outline:none;
	filter: brightness(110%);
	
}

#loginForm .form-block #loginButton {
    background-color: #E8CCD7;
    border-bottom: none;
    border-radius: 2px;
    font-weight: bold;
}



